{% extends '::base.html.twig' %}
{% block content %}
    <h1>Get userinfo for user {{ email }}:</h1>
    {% if user is null %}
    This user cannot be found
    {% endif %}
    {% if user is not null %}
    <ul>    
        <li>{{ user.getProperty('email') }}</li>
        <li>{{ user.getProperty('username') }}</li>
        <li>{{ user.getProperty('firstname') }}</li>
        <li>{{ user.getProperty('lastname') }}</li>
    </ul>
    {% endif %}
{% endblock %}